<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!-- CRIANDO UM FORMULÁRIO DE FORMA AUTOMÁTICA SOMENTE UMA LINHA -->
<!-- {{ form.as_p }} -->

<!-- CRIANDO UM FORMULÁRIO DE FORMA MANUAL-->
<form method="post">
    {% csrf_token %}
    <div>
        <label> Nome:{{ form.nome }} </label>
    </div>
    <div>
        <label> Sexo:{{ form.sexo }} </label>
    </div>
    <div>
        <label> Peso:{{ form.peso }} </label>
    </div>
    <div>
        <label> Altura:{{ form.altura }} </label>
    </div>
    <div>
        <button type="submit">Cadastrar Paciente</button>
    </div>

</form>


</body>
</html>