{% extends 'nutricionista/base.html' %}

{% block title %}
    Cadastro de Paciente
{% endblock %}

{% block conteudo %}
    <!-- CRIANDO UM FORMULÁRIO DE FORMA AUTOMÁTICA SOMENTE UMA LINHA -->
    <!-- {{ form.as_p }} -->

    <!-- CRIANDO UM FORMULÁRIO DE FORMA MANUAL-->
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.nome.errors }}
            <label> Nome:{{ form.nome }} </label>
        </div>
        <div class="mb-3">
            {{ form.sexo.errors }}
            <label> Sexo:{{ form.sexo }} </label>
        </div>
        <div class="mb-3">
            {{ form.peso.errors }}
            <label> Peso:{{ form.peso }} </label>
        </div>
        <div class="mb-3">
            {{ form.altura.errors }}
            <label> Altura:{{ form.altura }} </label>
        </div>
        <div class="mb-3">
            <button type="submit">Cadastrar Paciente</button>
        </div>
    </form>
    <hr>
    <a href=" {% url 'listar_paciente' %} "><button class="btn btn-primary">Verificar Pacientes Cadastrados</button></a>
{% endblock conteudo %}